---
layout: page
sidebar: false
title: false
footer: false
<!--date: 2013-09-10 20:11
comments: true
sharing: true-->
---
<h3>
    <strong>《開放食庫》
            </strong>是由<strong>
            <a target="_blank" href="http://codefortomorrow.org/">Code for Tomorrow</a></strong>
    所管理的計畫。
</h3>
<br>
<hr>
<br>

<div class="row">
    <div class="col-lg-6">
        <h1 class="section-title"> 加入我們 </h1>
        <div class="section-body">
            <p>歡迎有以下經驗的人加入我們：</p>
            <ul>
                <li>Android UI Designer</li>
                <li>iOS UI Designer</li>
            <ul>
        </div>
    </div>
    <div class="col-lg-6">
        <h1 class="section-title"> 聯絡我們 </h1>
        <div class="section-body">
            <p>您目前可以在以下的 social media 找到我們：</p>
            <ul style="margin-left: 30px"><li><a href="https://www.facebook.com/groups/foodopendata/">開放食庫 Facebook</a></li>
                <li><a href="http://groups.google.com/group/codefortomorrow">Google Groups</a></li>
                <li><a href="https://plus.google.com/communities/114030076209648929334">Google+ Communities</a></li>
                <li>Twitter: @codefortomorrow</li>
                <li>IRC: Freenode #codefortomorrow</li>
                <li>Email: food [at] codefortomorrow.org</li>
            </ul>

        </div>
    </div>
</div>

<br>
<hr>
<br>

<h1 class="section-title"> 團隊成員 </h1>
<div class="team-info">
    <div>
	{% for row in site.team %}
	<h3>{{row.position}}</h3>
	<ul>
	    {% for member in row.member %}
	    <li>
	    {% if member.website %}
	    <a href="{{member.website}}">{{member.name}}</a>
	    {% elsif member.email %}
	    <a href="mailto: {{member.email}}">{{member.name}}</a>
	    {% else %}
	    <span> {{member.name}} </span>
	    {% endif %}
	    </li>
	    {% endfor %}
	</ul>
	{% endfor %}
    </div>
    <div>
	{% for row in site.project %}
    <h2>{{row.name}}</h2>
	<ul>
	    {% for member in row.member %}
	    <li>
	    {% if member.website %}
	    <a href="{{member.website}}">{{member.name}}</a>
	    {% elsif member.email %}
	    <a href="mailto: {{member.email}}">{{member.name}}</a>
	    {% else %}
	    <span> {{member.name}} </span>
	    {% endif %}
	    </li>
	    {% endfor %}
	</ul>
	{% endfor %}
    </div>
</div>
