<div class="pull-left">
    <p>
    Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
    <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
    </p>
</div>
<div class="pull-right">
    <a target="_blank" href="mailto:ask@codefortomorrow.org" class="contact-tooltip" data-toggle="tooltip" title="Email">
        <img class="img-circle contact-icon" src="{{root_url}}/images/contact/email_icon.png" />
    </a>
    <a target="_blank" href="https://twitter.com/codefortomorrow" class="contact-tooltip" data-toggle="tooltip" title="Twitter">
        <img class="img-circle contact-icon" src="{{root_url}}/images/contact/twitter_icon.png" /> 
    </a>
    <a target="_blank" href="https://plus.google.com/107235637266618007879/posts" class="contact-tooltip" data-toggle="tooltip" title="Google+">
        <img class="img-circle contact-icon" src="{{root_url}}/images/contact/googleplus_icon.png" />
    </a>
    <a target="_blank" href="https://www.facebook.com/CodeForTomorrow" class="contact-tooltip" data-toggle="tooltip" title="Facebook">
        <img class="img-circle contact-icon" src="{{root_url}}/images/contact/facebook_icon.png" />
    </a>
</div>
