---
published: 
  - true
  - "true"
layout: post
title: 食用油檢驗結果榜單 (2013.11.04)
comment: "true"
author: CK
---

截至今日 (2013.11.04) 為止，由[衛生福利部食品藥物管理署](http://www.fda.gov.tw/tc/site.aspx?sid=3693)所公布的「油品脂肪酸組成不完全符合」查核結果，我們幫忙做成一個可以查詢的表格，方便大家看榜。

- [食用油檢驗結果清單](https://docs.google.com/spreadsheet/ccc?key=0Av429gOA1lgzdDRaWFg1aTJ3UnJ3MktVbWd0WjF4c3c&usp=sharing) 

請慢用。
