// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.section-title {
    margin-bottom: 20px;
    color: #428BCA;   
}

.section-body > h3 {
    margin: 0;
}

.section-body > p {
    font-size: 16px;
    line-height: 1.4em;
}

img.contact-icon {
    width: 30px;
}

.social-contact li, .social-contact li a {
    border: 0;
    margin-left: 0;
}

body > header h2 {
    color: #666;
}

article ol, article ul{
    margin-left: 40px;
}

// for tream member
.team-info {
    text-align: center
}
.member-info {
    width: 200px;
}
img.member-pic {
    box-shadow: none;
    width: 130px;
    border: 0;
}
h4.member-name {
    margin: 5px;
    font-size: 1.3em;
}

h5.member-position {
    color: #666;
}


